<h1><%= t('.title', name: current_user.name.capitalize) %></h1>
<p><%= current_user.email %></p>

<h2><%= t('.title-followers') %></h2>
<p><%= current_user.name_followers %></p>

<h2><%= t('.title-following') %></h2>
<p><%= current_user.name_followings %></p>

<h2><%= t('.title-your-posts') %></h2>
<ul id="your-post-list">
  <%= render partial: 'posts/post', collection: @your_posts, as: :post %>
</ul>
<div id="your-pagination">
  <%= paginate @your_posts, remote: true %>
</div>

<h2><%= t('.title-liked-posts') %></h2>
<ul id="liked-post-list">
  <%= render partial: 'posts/post', collection: @liked_posts, as: :post %>
</ul>
<div id="liked-pagination">
  <%= paginate @liked_posts, remote: true %>
</div>