<li class="post-card">
  <h3><%= highlight post.title, params[:search] %></h3>
  <h4><%= t('posts.index.user') %>: <%= post.user.name %></h4>
  <h4><%= Post.human_attribute_name(:category) %>: <%= highlight post.category, params[:search] %></h4>
  <h4><%= Post.human_attribute_name(:language) %>: <%= post.language %></h4>
  <h4><%= Post.human_attribute_name(:readable_time) %>: <%= post.readable_time %></h4>
  <h4><%= t('posts.index.created') %>: <%= I18n.l(post.created_at, format: '%B %d, %Y') %></h4>
  <p><%= highlight(truncate(post.body, length: 200, omission: "...") { link_to t('posts.index.read-more'), post }, params[:search]) %></p>
  <div class="post-image-container">
    <% if post.image.attached? %>
      <%= image_tag(post.image, class: 'fit-image') %>
    <% end %>
  </div>
  <% if current_user %>
    <p>
      <%= link_to t('posts.index.edit'), edit_post_path(post) %>
      <%= link_to t('posts.index.delete'), post_path(post), method: :delete %>
    </p>
    <div id="btn-likes-<%= post.id %>">
      <%= render partial: 'posts/like_dislike', locals: { post: post } %>
    </div>
  <% end %>
  <div id="likes-<%= post.id %>">
    <%= pluralize(post.likes.size, 'Like') %>: <%= post.name_likers %>
  </div>
</li>