<li class="post-card">
  <h3><%= post.title %></h3>
  <h4>User: <%= post.user.name %></h4>
  <h4>Category: <%= post.category %></h4>
  <h4>Language: <%= post.language %></h4>
  <h4>Time to read: <%= post.readable_time %></h4>
  <h4>Submitted <%= time_ago_in_words(post.created_at)%> ago</h4>
  <p><%= post.body %></p>
  <div class="post-image-container">
    <% if post.image.attached? %>
      <%= image_tag(post.image, class: 'fit-image') %>
    <% end %>
  </div>
  <% if current_user %>
    <p>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Delete', post_path(post), method: :delete %>
    </p>
  <% end %>
</li>

