<%= form_tag posts_path, method: :get do %>
  <%= label_tag 'I am looking for...' %>
  <%= text_field_tag 'search', nil, placeholder: 'type something' %>
  <%= submit_tag 'Search' %>
<% end %>
<hr>

<h1>Current Posts</h1>

<%= form_tag posts_path, method: :get do %>
  <%= select_tag 'language', options_for_select(Post::LANGUAGE_FILTER, selected: params[:language]), prompt: @prompt_lang %>
  <%= select_tag 'sort', options_for_select(Post::SORT_FILTER, selected: params[:sort]), prompt: @prompt %>
  <%= submit_tag 'Apply' %>
<% end %>


<% if @posts.size != 0 %>
  <ul id="post-list">
    <%= render partial: 'posts/post', collection: @posts, as: :post %>
  </ul>
<% end %>

<%= paginate @posts, left: 2, right: 10 %>